* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Hina Mincho", serif;
  background-color: #101521;
  color: whitesmoke;
}

.NavDiv {
  height: 80px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #1d2430;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
}

ul {
  display: flex;
  list-style-type: none;
}

ul > li {
  padding-left: 3em;
}

.hero-container {
  display: flex;
  margin: 4em;
  align-items: center;
  margin-bottom: 5em;
  padding-right: 2em;
}

.intro {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40%;
}

.intro-name {
  font-size: 3rem;
  margin: 0;
}

.intro-desc {
  color: #747a86;
  font-size: 2rem;
  margin: 0;
  font-weight: 700;
}

.hero-img {
  width: 50%;
  height: 350px;
  border-radius: 100px;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #06c1d4, #127ba3) 1;
  background-color: rgb(253, 18, 241);
}

.website-name {
  border-right: 2px solid grey;
  padding-right: 10px;
}

.code-solid,
.ele-img {
  display: block;
  width: 50px;
  height: 50px;
  margin: 1.5em auto;
  margin-bottom: 0;
}

.project-intro {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
}

.skill-container {
  padding: 5em;
  margin-top: 10em;
  margin-bottom: 10em;
}

.skill-desc {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
}

.skill-box {
  display: flex;
  justify-content: center;
  width: 400px;
  margin: 0 auto;
}

.box {
  width: 200px;
  display: flex;
  padding: 2rem 2rem;
}

.box > img {
  width: 50px;
}
.box > img:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.box > img:hover,
#fixed-image:hover {
  color: #f4d03f;
  box-shadow: 0 0 5px #f5b041;
  text-shadow: 0 0 5px #ffee10;
}

/*
.project-box {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.project-card {
  padding: 2em;
  border: 2px solid grey;
  max-width: 500px;
  height: 800px;
  text-align: center;
  
}
*/
.project-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* allows the cards to wrap to the next line */
  gap: 1em;
  max-width: 1600px; /*limit the 3 cards on a row*/
  margin: 0 auto;
}

.project-card {
  padding: 2em;
  border: 2px solid grey;
  max-width: 500px;
  width: 400px;
  height: 750px;
  text-align: center;
  border-radius: 10px;
}

.project-img {
  height: 300px;
  width: 100%;
}

.project-name,
.project-skill {
  margin: 0;
}

.project-name {
  font-size: 2rem;
  padding-bottom: 0.5em;
}

.project-skill {
  font-size: 1.5em;
  background-color: #1d2430;
}

.project-desc {
  text-align: start;
  height: 200px;
  max-width: 450px;
  padding-bottom: 0.5em;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  line-height: 1.4rem;
}

.project-skill > span {
  font-size: 1rem;
  padding: 0 0.25em;
  margin: 0 0.01em;
}

.HTML {
  border: 2px solid rgb(179, 49, 66);
}
.CSS {
  border: 2px solid rgb(44, 119, 195);
}
.PHP {
  border: 2px solid rgb(72, 101, 120);
}
.Boostrap {
  border: 2px solid rgb(170, 64, 192);
}
.GoogleChart {
  border: 2px solid rgb(255, 255, 255);
}
.API {
  border: 2px solid rgb(60, 230, 51);
}
.NodeJS {
  border: 2px solid rgb(22, 103, 19);
}
.ReactJS {
  border: 2px solid rgb(90, 146, 184);
}
.Kotlin {
  border: 2px solid rgb(148, 49, 219);
}
.JavaScript {
  border: 2px solid rgb(208, 255, 0);
}
.SASS {
  border: 2px solid rgb(118, 40, 88);
}
.MongoDB {
  border: 2px solid rgb(44, 103, 40);
}
.MySQL {
  border: 2px solid rgb(230, 73, 30);
}

.live,
.github {
  border: 2px solid rgb(186, 162, 162);
  padding: 0.5em 1em;
  margin-right: 0.5em;
  text-decoration: none;
  color: whitesmoke;
}

.disabled {
  cursor: not-allowed;
}

/*btn*/
.live:hover,
.github:hover {
  color: rgb(0, 255, 98);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
  background-color: #008080;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  border-radius: 5px;
}

/*footer*/
.footer-conitainer {
  margin-top: 2em;
  height: 60px;
  background-color: #1d2430;
  width: 100%;
}

.first {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-text {
  text-align: start;
}

.footer-github {
  width: 30px;
  height: 30px;
}

#fixed-image {
  display: block;
  position: fixed;
  top: 50%;
  right: 0.5%;
  bottom: 50%;
  width: 40px;
  margin-bottom: -1px;
  border: 3px solid #5796b4;
  background: linear-gradient(to bottom, #5796b4, #dce5f0);
}

.fixed-right:hover {
  border: 3px solid transparent;
  border-image: linear-gradient(to right, #c22f2f, #ff5c5c) 1 1 stretch;
}

#loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #101521 url("images/Infinity.svg") no-repeat center center;
}

@media (min-width: 768px) and (max-width: 950px) {
  .skill-container {
    margin: 0;
    padding-top: 0;
    display: flex;
  }
  .skill-box {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden; /*disable the horizontal scrolling on a mobile device*/
  }
  nav {
    width: 100%;
  }
  .intro {
    width: 100%;
  }
  .intro-desc {
    padding-bottom: 0.25em;
  }
  .hero-container {
    display: block;
    padding-right: 0em;
  }
  .hero-img {
    width: 100%;
    margin: 2em 0;
  }
  .skill-container {
    margin: 0;
    padding-top: 0;
    display: flex;
  }
  .skill-box {
    flex-direction: column;
  }
  .skill-desc {
    padding-top: 0.4em;
    padding-left: 0.4em;
  }
  .project-card {
    margin-top: 1em;
  }
  .project-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
  }
  .box {
    justify-content: center;
    margin-left: 1.8em;
  }
  .footer-conitainer {
    width: 100%;
  }
  .fixed-right {
    top: 46%;
    right: 0.5%;
    bottom: 47.5%;
  }
  #loader {
    width: 100vw;
    height: 100vh;
  }
}
